.nav-bar-main-container{
    height: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    padding: 10px;
}

.central-nav-button{
    border: none;
    background-color: white;
    padding: 15px;
}

.central-nav-button:hover{
    border: 1px solid rgb(170, 168, 168);
    color: rgb(30, 30, 173);
    border-radius: 10px;
}

.nav-sign-try-container{
    padding: 20px;
}

.nav-signin{
    margin-right: 10px;
    background-color: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

.nav-signin:hover{
    background-color: rgb(230, 225, 225);
}

.nav-tryit{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.nav-tryit:hover{
    background-color: rgb(72, 72, 248);
}

.big-repeat-grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". big-area .";
}

.main-flex-content{
    grid-area: big-area;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-text-section{
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: space-around;
}

.big-image-section{
    width: 45%;
    height: 100%;
}

.big-image-section-actual-image{
    width: 100%;
    height: 100%;
}

.main-signup-button{
    height: 45px;
    width: 35%;
    background-color: blue;
    color: white;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
}

.main-signup-button:hover{
    background-color: rgb(49, 49, 112);
}

.main-chat-button{
    height: 45px;
    width: 35%;
    background-color: white;
    color: blue;
    border: 1px blue solid;
    border-radius: 10px;
}

.main-chat-button:hover{
    background-color: rgb(228, 223, 223);
    color: navy;
    border: black 1px solid;
}

.little-dot-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: flex-start;
}

.dot-list-item{
    padding-right: 5px;
    padding-left: 5px;
}

.dot-list-pic{
    height: 10px;
    width: 10px;
}

hr{
    width: 50vw;
    margin: 30px 25% 30px 25%;
    border: 1px solid rgb(201, 194, 194);
}



.article-container{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". text-row1 ."
        ". icons-row2 ."
        ". credit-row3 ."
        ". lower-text-row4 ."
        ". info-row5 ."
        ". info-row6 ."
    ;
}

.top-text{
    grid-area: text-row1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Verdana, sans-serif;
}

.top-squares{
    grid-area: icons-row2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.credit-card-box{
    grid-area: credit-row3;
    display: flex;
    border: rgb(227, 226, 223) solid 1px;
    border-radius: 15px;
    margin: 32px 0 32px 0;
    height: 36vw;
}

.bottom-text{
    grid-area: lower-text-row4;
}

.bottom-info-1{
    grid-area: info-row5;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.bottom-info-2{
    grid-area: info-row6;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.upper-icons{
    display: flex;
    border-radius: 20px;
    justify-content: center;
}

.email-info{
    display: flex;
    flex-direction: column;
    
}

.email-icon{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.email.circle{
    position: relative;
    top: 0;
    left: 0;
}

.email-computer{
    position: absolute;
    top: 60px;
    left: 47px;
}

.email-text{
    display: flex;
    flex-direction: column;
    
    max-width: 320px;
    justify-content: center;
}

.email-button{
    display: flex;
    flex-direction: center;
}

.blue-credit-card-box{
    display: flex;
    background-color: rgb(34, 93, 255);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    flex-direction: column;
}

.list-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 5% 10px 5%;
}

.credit-card-button{
    display: flex;
    height: 35px;
    width: 40%;
    background-color: blue;
    color: white;
    margin-right: 10px;
    border: 2px white solid;
    border-radius: 10px;
    margin-left: 50px;
}

.credit-card-text{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Verdana, sans-serif;
    
}

.credit-card-image{
    display: flex;
    margin-top: 125px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 125px;

}

.creditcard-image{
    max-width: 500px;
    max-height: auto;
}

/* Task Icon Section */
.task-icon{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.task.circle{
    position: relative;
    top: 0;
    left: 0;
}


.task-computer{
    position: absolute;
    top: 60px;
    left: 47px;
}

.task-text{
    display: flex;
    flex-direction: column;
   
    max-width: 360px;
}
/* Analytics Icon Section */
.analytics-icon{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.analytics.circle{
    position: relative;
    top: 0;
    left: 0;
}


.analytics-computer{
    position: absolute;
    top: 60px;
    left: 47px;
}

.analytics-text{
    display: flex;
    flex-direction: column;
   
    max-width: 360px;
}
/* Calender Icon Section */
.calender-icon{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.calender.circle{
    position: relative;
    top: 0;
    left: 0;
}


.calender-computer{
    position: absolute;
    top: 60px;
    left: 47px;
}

.calender-text{
    display: flex;
    flex-direction: column;
   
    max-width: 360px;
}
/* Top Tiles Work Here */
.upper-icons{
    border: 1px solid rgb(174, 174, 174);
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    
    
}

.top-square-image1{
    gap: 25px;
    width: 130px;
    height: auto;   
}


.top-square-image2{
    gap: 25px;
    width: 130px;
    height: auto;   
}


.top-square-image3{
    gap: 25px;
    width: 130px;
    height: auto;   
}


.top-square-image4{
    gap: 40px;
    width: 130px;
    height: auto; 
      
}

.cash-img{
    margin-left: 25px;
    margin-top: 35px;
}
.person-img{
    margin-left: 35px;
    margin-top: 35px;
}
.chart-img{
    margin-left: 35px;
    margin-top: 35px;
}
.arrow-img{
    margin-left: 35px;
    margin-top: 35px;
}
.bot-img-text{
    margin-left: 35px;
}



.blue-footer-container{
    height: 30vw;
    background-color: blue;
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 5fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". footer-content .";
}

.footer-content-subcontainer{
    grid-area: footer-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 30px 0 30px 0;
}

.footer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.foot-button-get-started{
    background-color: limegreen;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 30px;
    color: white;
}

.foot-button-chat{
    background-color: white;
    color: blue;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 30px;
}

.foot-button-get-started:hover{
    border: 1px gray solid;
    background-color: rgb(107, 209, 107);
    color: gray;
}

.foot-button-chat:hover{
    border: 1px gray solid;
    background-color: rgb(231, 226, 226);
    color: black;
}





@media screen and (max-width: 850px){

}
