.article-container{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". text-row1 ."
        ". icons-row2 ."
        ". credit-row3 ."
        ". lower-text-row4 ."
        ". info-row5 ."
        ". info-row6 ."
    ;
}

.top-text{
    grid-area: text-row1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Verdana, sans-serif;
}

.top-squares{
    grid-area: icons-row2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.credit-card-box{
    grid-area: credit-row3;
    display: flex;
    border: rgb(227, 226, 223) solid 1px;
    border-radius: 15px;
    margin: 32px 0 32px 0;
    height: 36vw;
}

.bottom-text{
    grid-area: lower-text-row4;
}

.bottom-info-1{
    grid-area: info-row5;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.bottom-info-2{
    grid-area: info-row6;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.upper-icons-top-square-image1{
    display: flex;
    
}

.email-info{
    display: flex;
    flex-direction: column;
    
}

.email-icon{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.email.circle{
    position: relative;
    top: 0;
    left: 0;
}

.email-computer{
    position: absolute;
    top: 60px;
    left: 47px;
}

.email-text{
    display: flex;
    flex-direction: column;
    background-color: beige;
    max-width: 320px;
    justify-content: center;
}

.email-button{
    display: flex;
    flex-direction: center;
}

.blue-credit-card-box{
    display: flex;
    background-color: rgb(34, 93, 255);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    flex-direction: column;
}

.list-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 5% 10px 5%;
}

.credit-card-button{
    height: 35px;
    width: 40%;
    background-color: blue;
    color: white;
    margin-right: 10px;
    border: 2px white solid;
    border-radius: 10px;
}

.credit-card-text{
    color: white;
    font-family: Arial, Verdana, sans-serif;
    
}

.credit-card-image{
    display: flex;
    margin-top: 125px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 125px;

}

.creditcard-image{
    max-width: 500px;
    max-height: auto;
}

/* Task Icon Section */
.task-icon{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.task.circle{
    position: relative;
    top: 0;
    left: 0;
}


.task-computer{
    position: absolute;
    top: 60px;
    left: 47px;
}

.task-text{
    display: flex;
    flex-direction: column;
    background-color: beige;
    max-width: 360px;
}
/* Analytics Icon Section */
.analytics-icon{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.analytics.circle{
    position: relative;
    top: 0;
    left: 0;
}


.analytics-computer{
    position: absolute;
    top: 60px;
    left: 47px;
}

.analytics-text{
    display: flex;
    flex-direction: column;
    background-color: beige;
    max-width: 360px;
}
/* Calender Icon Section */
.calender-icon{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.calender.circle{
    position: relative;
    top: 0;
    left: 0;
}


.calender-computer{
    position: absolute;
    top: 60px;
    left: 47px;
}

.calender-text{
    display: flex;
    flex-direction: column;
    background-color: beige;
    max-width: 360px;
}
/* Top Tiles Work Here */
.upper-icons{
    border: 1px solid rgb(174, 174, 174);
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    
}

.top-square-image1{
    gap: 25px;
    width: 130px;
    height: auto;   
}


.top-square-image2{
    gap: 25px;
    width: 130px;
    height: auto;   
}


.top-square-image3{
    gap: 25px;
    width: 130px;
    height: auto;   
}


.top-square-image4{
    gap: 40px;
    width: 130px;
    height: auto;   
}
