.container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "left right"
    ;
}


.left-container{

}

.left-side-images{
    grid-area: left;
}

.left-side-menu{

    display: flex;
    flex-direction: column;
    max-width: 500px;
    
}